* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;

  background: linear-gradient(125.34deg, rgba(250, 75, 76, 0.83) 3.98%, rgba(253, 202, 41, 0.2) 92.93%);
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

/** HEADER */

header {
  display: block;
  margin: 1rem auto;
  width: 30rem;
  padding: 1rem;

  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
}

/** PLAY MODE */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-mode-options {
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 500;
}

.play-mode-options>select {
  border: none;
  border-radius: .5rem;
  height: 2.4rem;
  font-size: 1.4rem;
  outline: none;
}

/** PLAYER INFO */

.player-info {
  font-size: 1.8rem;
  font-weight: 500;
}

.player-info__name {
  margin-bottom: 1rem;
}

input[type='text'] {
  border-radius: 0.5rem;
  border: none;
  height: 2.3rem;
  outline: none;
  text-indent: 5px;
}

/** START BTN */

.start-btn {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;

  cursor: pointer;
  padding: 0.8rem;
  font-weight: 700;
  background: black;
  color: white;
  outline: none;
  border: none;
  border-radius: .8rem;
  font-size: 1.8rem;
  transition: all 0.1s ease-out;
}

.start-btn:hover {
  cursor: pointer;
  background: rgba(250, 75, 76, 0.5);
}

/** GAMEBOARD */

.gameboard {
  display: grid;
  grid: repeat(3, 8rem) / repeat(3, 8rem);
  width: 24rem;
  margin: 2rem auto;
  margin-top: 1rem;
}

.gameboard__square {
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;

  border: 2px solid black;
  cursor: pointer;
  font-size: 5rem;
  font-family: 'Permanent Marker', cursive;
}

.gameboard>div:nth-child(1),
.gameboard>div:nth-child(2),
.gameboard>div:nth-child(3) {
  border-top: none;
}

.gameboard>div:nth-child(3n+1) {
  border-left: none;
}

.gameboard>div:nth-child(3n) {
  border-right: none;
}

.gameboard>div:nth-child(n+7) {
  border-bottom: none;
}

/** CONGRATS */

.congrats {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}